
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #C8A2C8;
}

.board {
    height: 540px;
    width: 630px;
    background-color: violet;
    border: 10px solid blueviolet;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid blueviolet;
}
.kitten-piece {
    background-image: url("/images/kitten.png");
    background-size: cover;
}

.puppy-piece {
    background-image: url("/images/puppy.png");
    background-size: cover;
}

#resetbutton {
    background-color:plum;
    font-size: larger;
    font-weight: bold;
}

#bombBtn {
    width: 150px;
    height: 150px;
    background-image: url(/images/catbomb.png);
    background-size: cover;
    background-color: blueviolet;
    display: flex;
    justify-content: end;
}
